# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Temporary / Build
node_modules
.output
.wxt
stats.html
stats-*.json

# Auxiliary
candy-astro/
_BACKUPS/
BACKUP_v1.7.txt
bonkers_image_black_and_gold.webp

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
